starlette==0.27.0
api-inference-community==0.0.36
# to be replaced with diffusers 0.31.0 as soon as released
git+https://github.com/huggingface/diffusers.git@0f079b932d4382ad6675593f9a140b2a74c8cfb4
transformers==4.41.2
accelerate==0.31.0
hf_transfer==0.1.3
pydantic>=2
ftfy==6.1.1
sentencepiece==0.1.97
scipy==1.10.0
torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2
invisible-watermark>=0.2.0
uvicorn>=0.23.2
gunicorn>=21.2.0
psutil>=5.9.5
aiohttp>=3.8.5
peft==0.11.1
protobuf==5.27.1
