starlette==0.14.2
api-inference-community==0.0.25
huggingface_hub==0.11.0
diffusers==0.12.0
-e git+https://github.com/huggingface/transformers@main#egg=transformers
accelerate==0.13.2
pydantic==1.8.2
ftfy==6.1.1
sentencepiece==0.1.97
scipy==1.9.3
