aiofiles
librosa
pytest
starlette
torch
uvicorn


# ESPnet
git+https://github.com/julien-c/espnet.git@hf_model_hub

# Asteroid
git+https://github.com/asteroid-team/asteroid@master

# Transformers
transformers

# timm
timm
