starlette
aiofiles
uvicorn

# ESPnet
git+https://github.com/julien-c/espnet.git@hf_model_hub
torch

# Asteroid
git+https://github.com/asteroid-team/asteroid@master
librosa

# Transformers
transformers==4.3.0rc1
