aiofiles
librosa
pytest
starlette
torch
uvicorn


# ESPnet
git+https://github.com/julien-c/espnet.git@hf_model_hub

# Asteroid
asteroid>=0.4.2

# Transformers
transformers>=4.4.0

# S2T related deps
torchaudio
sentencepiece

# timm
timm
