api-inference-community==0.0.23
g2p_en==2.1.0
g2pc==0.9.9.3
phonemizer==2.2.1
librosa==0.8.1
hanziconv==0.3.2
sentencepiece==0.1.96
# Dummy comment to trigger automatic deploy.
git+https://github.com/pytorch/fairseq.git@679321804cd9de41eeb76668e28d24c8470fda14#egg=fairseq
huggingface_hub==0.5.1
