starlette==0.27.0
# TODO: Replace with the correct tag once the core PR is merged
api-inference-community==0.0.23
huggingface_hub==0.5.1
transformers==4.18.0
git+https://github.com/speechbrain/speechbrain@v0.5.13